mixin arrow(direction, position)      
  div(class="arrow" + (position ? " arrow_" + position : ""))
  

mixin button(options)  
  - buttonClass = "button"  
  - buttonType = options.outline ? "button-outline" : "button-solid"   
  - buttonClass += ` ${buttonType}`
  - buttonClass += options.background ? ` ${buttonType}_${options.background}` : " button_green"  
  - arrowStart = options.start
  - arrowEnd = options.end
  if options.big == true
    - buttonClass += " " + "button_big";
  if options.round == true
    - buttonClass += " " + "button_round";  
  if options.inline == true
    - buttonType = "button-inline"  
    - buttonClass = "button " + buttonType + " " +  buttonType + "_"  + options.background;  
  button(class=buttonClass)
    span.arrow.arrow_start= arrowStart
    span.button__text
      block
    span.arrow.arrow_end= arrowEnd
