mixin rate(options)  
  -
    const stars = [
              {name:`stars-room-${options.room}`, value:"1", "aria-label": "1 звезда"},
              {name:`stars-room-${options.room}`, value:"2", "aria-label": "2 звезды"},
              {name:`stars-room-${options.room}`, value:"3", "aria-label": "3 звезды"},
              {name:`stars-room-${options.room}`, value:"4", "aria-label": "4 звезды"},
              {name:`stars-room-${options.room}`, value:"5", "aria-label": "5 звёзд"},
              ]
    
    stars.forEach((star, index) => {star.checked = options.value === index + 1})
    
  fieldset.rate(disabled=options.disabled)
    if options.legend
      legend.rate__header= options.legend
    .rate__group
      each star in options.items || stars
        input.rate__star(type="radio")&attributes(star)
        