mixin form__input(options)
  -
    options.size = options.size ? "form__input_" + options.size : "form__input_md"
    options.type = options.type ? options.type : "text"    
    options.class = options.class ? options.class + " " + options.size : options.size    
    options.datatype = options.datatype ? options.datatype : null
    options.required = options.required ? options.required : null
    options.class = options.type == "date" ? options.class + " form__input_date" : options.class
    options.placeholder = options.datatype=="date" ? "ДД.ММ.ГГГГ" : options.placeholder
  input.form__input(
    id=options.id,
    placeholder=options.placeholder,
    type=options.type,
    name=options.name,
    class=options.class,
    data-form-type=options.datatype,
    required=options.required,
    autocomplete="off"
  )
