mixin button(options)
  -
    const classList = ['button',
      ` button_${options.size || 'md'}`,
      `button_${options.background || 'button_green'}`,
      options.outline ? 'button-outline' : null,
      options.inline ? 'button-inline' : null,
      options.arrow ? null : 'button_center',
    ]
    const arrow = options.arrow
  button(class=classList)&attributes(options.attributes)
    if arrow
      .arrow.arrow_start= arrow.position == "start" ? arrow.icon : ""
      .arrow.arrow_end= arrow.position == "end" ? arrow.icon : ""
    if block
      if options.simple
        block
      else
        .button__text
          block
    else
      if arrow
        .arrow.arrow_center= arrow.icon
