mixin button(options)  
  - buttonClass = "button"  
  - buttonType = options.outline ? "button-outline" : "button-solid"   
  - buttonClass += ` ${buttonType}`
  - buttonClass += options.background ? ` ${buttonType}_${options.background}` : " button_green"    
  - buttonWidth = options.size || "md"
  if options.round == true
    - buttonWidth = "round"
  - buttonClass += ` button_${buttonWidth}`;
  if options.inline == true    
    - buttonClass = "button " + "button-inline button-inline_"  + options.background;  
  - arrow = options?.arrow
  button(class=buttonClass)
    if arrow
      - position = arrow.position      
      -icon = arrow.icon
      .arrow.arrow_start()= position == "start" ? arrow.icon : ""
      if position === "center"
        .arrow.arrow_center= arrow.icon
      .arrow.arrow_end()= position == "end" ? arrow.icon : ""
    else
      if !options.inline
        .arrow.arrow_start= ""
        .arrow.arrow_end= ""
    if block
      .button__text
        block    
