mixin carousel(options)
  .carousel(data-bs-ride='carousel')
    .carousel__indicators
      each img, index in options
        button.carousel__indicator(
          type='button',
          aria-current='true',
          data-bs-slide-to=index,
          aria-label="Слайд " + index
        )

    .carousel__inner
      each img, index in options
        .carousel__item(
          class=[index === 0 ? "carousel__item_active" : null],
          data-bs-image=index
        )
          img.carousel__img(src=img.url, alt=img.alt)

    button.carousel__prev(type='button', data-bs-slide='prev')
      | expand_more
    button.carousel__next(type='button', data-bs-slide='next')
      | expand_more
